<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.net.serbis.tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="ru.net.serbis.share.BIND_FILES_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app"
        android:theme="@android:style/Theme.DeviceDefault"
        android:resizeableActivity="true">

        <activity
            android:name=".activity.Main"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ExceptionReport"
            android:label="@string/uncaught_exception">
        </activity>

        <activity
            android:name=".activity.ViewXml">
        </activity>

        <activity
            android:name=".activity.SysResourcesActivity"
            android:label="@string/sys_resources"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activity.ViewParam">
        </activity>

        <activity
            android:name=".activity.ConfigStartTool">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.StartToolActivity"
            android:theme="@style/transparent"
            android:launchMode="singleTask"/>

        <activity
            android:name=".activity.FakeLauncher"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.StartTool"
            android:label="@string/start_tool">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_start_tool"/>
        </receiver>

    </application>

</manifest>
